
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://maps.google.com/maps/api/js?senso=false&libraries=places&key=AIzaSyB6Qk8FXtk2WEm5AiT47db5l_1L7bo-eAg"></script>
<script src="~/Content/locationpicker.jquery.js"></script>
<div class="er_ContPublicacion"></div>
<button type="button" data-toggle="modal" data-target="#ModalMap" class="btn btn-default">
    <span class="glyphicon glyphicon-map-marker"></span> <span id="ubicacion">Seleccionar Ubicación:</span>
</button>
<div class="modal fade" id="ModalMap" tabindex="-1" role="dialog">
    <style>
        .pac-container {
            z-index: 99999;
        }
    </style>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ubicación:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ModalMap-address" />
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                    <div id="ModalMapPreview" style="width: 100%; height: 400px;"></div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="m-t-small">
                        <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="ModalMap-lat" />
                        </div>
                        <label class="p-r-small col-sm-2 control-label">Long.:</label>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="ModalMap-lon" />
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Aceptar</button>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#ModalMapPreview").locationpicker({
            radius: 0,
            location: {
                latitude: 20.938297181414647,
                longitude: -89.61501516379462
            },
            inputBinding: {
                latitudeInput: $("#ModalMap - lat"),
                longitudeInput: $("#ModalMap - lon"),
                locationNameInput: $("#ModalMap - address")
            },
            enableAutocomplete: true,
            onchanged: function (currentLocation, radius, isMarkerDropped) {
                $("#ubicacion").html($("#ModalMap - address").val());
            }
        });
        $("#ModalMap").on("shown.bs.modal", function () {
            $("#ModalMapPreview").locationpicker("autosize");
        });
    </script>
