
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

.ewk_navbar {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.ewk_navbar div, .ewk_navbar ul{
    background-color: transparent !important;
}

.ewk_cont_sec_1{
    padding: 10%;
}

.ewk_cont_sec_1_link{
    padding: 5%;
}

.ewk_cont_sec_1_link a{
    width: 200px;
}

.ewk_cont_sec_1 hr{
    border-top: 1px solid rgba(1, 1,1, 0.3);
}

.ewk_cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color: #fff;
    margin-top: 100px;
}

.ewk_cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.ewk_cont_img_footer{
    padding: 5%;
}





/*body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}*/

.swiper-container {
    width: 100%;
    height: 100%;
    background-image: url("../images/x2.jpg");
}
.swiper-slide img {
    display: block;
    margin: auto;
    width: 400px;
    height: 380px;
}
.swiper-slide card-body {
    background-color: #E8E7E6;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}
